body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(nature.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color:rgb(34, 106, 240) ;
}

hr {
  margin: 20px auto;
  color: #F05F44;
  border: 3px solid #F05F44;
  max-width: 85px;
  opacity: 1;  
}

.line {
  margin: 20px auto;
  color: #F05F44;
  border: 3px solid #F05F44;
  max-width: 55px;
  opacity: 1;  
}

.line2 {
  margin: 20px auto;
  color: #F05F44;
  border: 3px solid #F05F44;
  max-width: 35px;
  opacity: 1;  
}

.buffer {
  height: 0.5rem;
}

.btn {
 font-weight: 700px;
 border-radius:300px;
 text-transform: uppercase;
}

.btn-success {
  background-color: rgb(34, 106, 240);
  border-color:rgb(34, 106, 240);
}

.btn-success:hover {
  background-color: rgb(255,165,0);
  border-color: rgb(255, 165, 0);
  border-width: 4px;
}

.btn-xl {
  padding: 1em 2rem;
}

.root {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 500px;
}
